#game {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    overflow: hidden;
}

#scoreParent {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#highList, #controls {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: x-large;
}